.background-danger {
  background-color: #f8d7da;
}

.background-dark {
  background-color: #d3d3d4;
}

.background-light {
  background-color: #fefefe;
}

.background-success {
  background-color: #d1e7dd
}

.background-warning {
  background-color: #fff3cd;
}
