micronaut:
  application:
    name: github-team-dashboard
  router:
    static-resources:
      webjars:
        enabled: true
        paths: classpath:META-INF/resources/webjars
        mapping: /webjars/**
  views:
    handlebars:
      enabled: false
github:
  apiurl: https://api.github.com/graphql
  organization: ${GITHUB_ORGANIZATION}
  team: ${GITHUB_TEAM}
  token: ${GITHUB_TOKEN}
  userAgent: github-team-dashboard