<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid my-sm-5 px-5" th:fragment="content">
    <div class="row">
        <div class="col">
            <div class="text-end fs-6">
                <small><span class="fw-bold">Last update:</span> <span id="#lastupdatetime"></span>
                <span>(updates every 10 minutes)</span></small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-header">Team <span th:text="${team.name}"></span></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <th:block th:each="member: ${team.members}">
                            <li class="list-group-item" th:text="${member.username}"></li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="card text-center my-sm-5">
                <div class="card-header">Security Alerts</div>
                <div class="card-body">
                    <div th:if="${securityAlerts.empty}">
                        <span>There are no security alerts at the moment</span>
                    </div>
                    <div th:unless="${securityAlerts.empty}">
                        <p>These repositories contain security alerts:</p>
                        <ul class="list-group list-group-flush">
                            <th:block th:each="alert: ${securityAlerts}">
                                <li class="list-group-item"><a th:href="${alert.url}" th:text="${alert.repository}" class="text-decoration-none" target="_blank"></a></li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card text-center">
                <div class="card-header">Open Pull Requests</div>
                <div class="card-body">
                    <div th:replace="legend :: legend"></div>
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <tr>
                                <th class="border-bottom" scope="col">#</th>
                                <th class="border-bottom" scope="col">Review</th>
                                <th class="border-bottom" scope="col">Repository</th>
                                <th class="border-bottom" scope="col">Author</th>
                                <th class="border-bottom" scope="col">Title</th>
                                <th class="border-bottom" scope="col">Creation Date</th>
                            </tr>
                            <tr th:each="pullRequest,iterStat : ${pullRequests}">
                            <th:block th:switch="${pullRequest.checkState.name}">
                                <td th:case="'NONE'" class="fw-bold" scope="row" th:text="${iterStat.index + 1}"></td>
                                <td th:case="'DRAFT'" class="table-secondary fw-bold" scope="row" th:text="${iterStat.index + 1}"></td>
                                <td th:case="'ERROR'" class="table-danger fw-bold" scope="row" th:text="${iterStat.index + 1}"></td>
                                <td th:case="'EXPECTED'" class="table-warning fw-bold" scope="row" th:text="${iterStat.index + 1}"></td>
                                <td th:case="'FAILURE'" class="table-danger fw-bold" scope="row" th:text="${iterStat.index + 1}"></td>
                                <td th:case="'PENDING'" class="table-warning fw-bold" scope="row" th:text="${iterStat.index + 1}"></td>
                                <td th:case="'SUCCESS'" class="table-success fw-bold" scope="row" th:text="${iterStat.index + 1}"></td>
                            </th:block>
                                <td class="align-middle" th:switch="${pullRequest.state.name}">
                                    <img th:case="'APPROVED'" src="icons/check-circle.svg" alt="Approved" />
                                    <img th:case="'CHANGES_REQUESTED'" src="icons/x-circle.svg" alt="Declined" />
                                </td>
                                <td><a th:href="${pullRequest.repositoryUrl}" th:text="${pullRequest.repositoryName}" class="text-decoration-none" target="_blank"></a></td>
                                <td th:text="${pullRequest.author}"></td>
                                <td><a th:href="${pullRequest.url}" th:text="${pullRequest.title}" class="text-decoration-none" target="_blank"></a></td>
                                <td th:text="${pullRequest.createdAt}"></td>
                            </tr>
                        </table>
                    </div>
                    <div th:insert="legend :: legend" th:if="${#lists.size(pullRequests) > 10}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
