<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid my-sm-5 px-5" th:fragment="content">
    <div class="row">
        <div class="col">
            <div class="text-right">
                <small>Last update: <span th:text="${lastUpdate}"></span></small>
                <p><small>(Updates every 5 minutes)</small></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-header">Team <span th:text="${team.name}"></span></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" th:each="member: ${team.members}">
                        <li class="list-group-item" th:text="${member.username}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card text-center">
                <div class="card-header">Open Pull Requests</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Repository</th>
                            <th scope="col">Author</th>
                            <th scope="col">Title</th>
                            <th scope="col">Creation Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pullRequest,iterStat : ${pullRequests}">
                            <th scope="row" th:text="${iterStat.index + 1}"></th>
                            <td th:text="${pullRequest.repositoryName}"></td>
                            <td th:text="${pullRequest.author}"></td>
                            <td><a th:href="${pullRequest.url}" th:text="${pullRequest.title}"></a></td>
                            <td th:text="${pullRequest.createdAt}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
