<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{always :: header}"></head>

<body>
<div id="dashboard">
    <div class="container-fluid my-sm-5 px-5">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Error!</h4>
                    <p th:utext="${error.title}"></p>
                    <hr>
                    <p class="mb-0" th:utext="${error.message}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{always :: footer}"></div>
</body>

</html>
