name: Publish docker image

on:
  workflow_dispatch:

concurrency:
  group: docker

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check-out git branch
        uses: actions/checkout@v6.0.2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Install JDK 21
        uses: actions/setup-java@v5.1.0
        with:
          distribution: temurin
          java-version: 21
          cache: gradle
      - name: Publish docker image
        run: ./gradlew clean dockerPush
