name: Gradle Wrapper

on:
  pull_request:
    paths:
      - gradle/**
      - gradlew
      - gradlew.bat

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git branch
        uses: actions/checkout@v6.0.2
      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5.0.0
