name: Gradle Wrapper

on:
  pull_request:
    paths:
      - gradle/**
      - gradlew
      - gradlew.bat

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git branch
        uses: actions/checkout@v3.6.0
      - name: Validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1.1.0
